<h5><%= link_to "Questions", questions_url%> | <%= link_to "Question Banks", question_banks_url%> | <%= link_to "Answers", answers_url%></h5>
<h2>DashBoard </h2>


<div>
    <button id="start_quiz"><a href="/take_test/quiz_start">Start Quiz</a></button>
</div>

